not_install.txt
111.ps1
1C_update.cmd.old
comps_down.txt
comps_down.txt
list.txt
Must_update.cmd
null
PsExec.txt
temp.log
comps_down.txt
temp.log
psexec.log
temp.log
comps_down.txt
temp.log
temp.log
psexec.log
list.txt
paexec.txt
psexec_reg.log
temp_reg.log
